<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.spring.dao.BoardDAO">
	<select id="selectBoardList" resultType="BoardVO">
		SELECT 
		    board.*,
		    co_name AS bo_co_name,
		    SUM(CASE WHEN re_state = 1 THEN 1 ELSE 0 END) AS bo_up,
		    SUM(CASE WHEN re_state = - 1 THEN 1 ELSE 0 END) AS bo_down
		FROM
		    board
		        JOIN
		    community ON co_num = bo_co_num
		        LEFT JOIN
		    recommend ON re_bo_num = bo_num
		where
			<choose>
				<when test='cri.type == "all"'>
					bo_title like concat('%', #{cri.search}, '%') or
					bo_me_id = #{cri.search}
				</when>
				<when test='cri.type == "title"'>
					bo_title like concat('%', #{cri.search}, '%')
				</when>
				<otherwise>
					bo_me_id = #{cri.search}
				</otherwise>
			</choose>
		GROUP BY bo_num
		ORDER BY bo_num DESC
		LIMIT #{cri.pageStart}, #{cri.perPageNum}
	</select>
	<select id="selectBoardTotalCount" resultType="int">
		select count(*) from board
		where
		<choose>
			<when test='cri.type == "all"'>
				bo_title like concat('%', #{cri.search}, '%') or
				bo_me_id = #{cri.search}
			</when>
			<when test='cri.type == "title"'>
				bo_title like concat('%', #{cri.search}, '%')
			</when>
			<otherwise>
				bo_me_id = #{cri.search}
			</otherwise>
		</choose>
	</select>
	<select id="selectCommunityList" resultType="CommunityVO">
		select * from community
	</select>
	
	<insert id="insertBoard" useGeneratedKeys="true" keyProperty="bo.bo_num">
		insert into board(bo_title, bo_content, bo_co_num, bo_me_id)
		values(#{bo.bo_title},#{bo.bo_content},#{bo.bo_co_num},#{bo.bo_me_id})
	</insert>
</mapper>